body {
  font-family: sans-serif;
  background-color: #9792BC;
}
h1 {
  color: #A0C875;
}
a, a:active, a:visited {
  text-decoration: none;
  color: #ADD675;
}
a:hover {
  text-decoration: underline;
  font-weight: bolder;
}
fieldset {
  width: 30%;
}
input[type="text"] {
  width: 100%;
}
