body {
  font-family: sans-serif;
  background-color:#607d8b;
  color:#fff;
}
h1 {
  color:#fff;
}
a, a:active, a:visited {
  text-decoration: none;
  color:#fff;
  font-weight: bolder;
}
a:hover {
  text-decoration: underline;
  font-weight: bolder;
}
fieldset {
  width: 30%;
}
input[type="text"] {
  width: 100%;
}


.content {
  max-width: 900px;
  margin: auto;
}

/*photos*/

.photos-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  /*grid-template-rows: repeat(3, 25vw);*/
  grid-gap: 15px;
}
.photo_img {
  width: 100%;
  height: 100%;
  object-fit:contain;
}
